<html>
<head>
    <title>goSell Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="https://goSellJSLib.b-cdn.net/v1.4.1/imgs/tap-favicon.ico" />
    <link href="https://goSellJSLib.b-cdn.net/v1.4.1/css/gosell.css" rel="stylesheet" />
</head>
<body onload="goSell.openPaymentPage()">
    <script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.4.1/js/gosell.js"></script>

    <div id="root"></div>

    <script>

      window.onload

    goSell.config({
      containerID:"root",
      gateway:{
        publicKey:"pk_test_hSc4OCUt2T0kiE9QZ1zpdrYs",
        merchantId: null,
        language:"en",
        contactInfo:true,
        supportedCurrencies:"all",
        supportedPaymentMethods: "all",
        saveCardOption:false,
        customerCards: true,
        notifications:'standard',
        callback:(response) => {
            console.log('response', response);
        },
        onClose: () => {
            console.log("onClose Event");
        },
        labels:{
            cardNumber:"رقم البطاقة",
            expirationDate:"MM/YY",
            cvv:"CVV",
            cardHolder:"الاسم على البطاقة",
            actionButton:"دفع"
        },
        style: {
            base: {
              color: '#535353',
              lineHeight: '18px',
              fontFamily: 'sans-serif',
              fontSmoothing: 'antialiased',
              fontSize: '16px',
              '::placeholder': {
                color: 'rgba(0, 0, 0, 0.26)',
                fontSize:'15px'
              }
            },
            invalid: {
              color: 'red',
              iconColor: '#fa755a '
            }
        }
      },
      customer:{
        id:null,
        first_name: "FirstName",
        middle_name: "Middle Name",
        last_name: "Last Name",
        email: "demo@email.com",
        phone: {
            country_code: "965",
            number: "99999999"
        }
      },
      order:{
        amount: {{total}},
        currency:"SAR",
        items:[{
          id:1,
          name:'item1',
          description: 'item1 desc',
          quantity: '1',
          amount_per_unit:'00.000',
          discount: {
            type: 'P',
            value: '10%'
          },
          total_amount: '000.000'
        }],
        shipping:null,
        taxes: null
      },
      transaction:{
       mode: 'charge',
       charge:{
          saveCard: false,
          threeDSecure: true,
          description: "Test Description",
          statement_descriptor: "Sample",
          metadata:{
            id:{{id}}
          },
          receipt:{
            email: false,
            sms: true
          },
          redirect: "http://67.205.129.242:7000/redirect",
          post: null,
        }
     }
    });
    </script>

</body>
</html>