<html>
  <head>
    <title>Show Result Demo</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link
      rel="shortcut icon"
      href="https://goSellJSLib.b-cdn.net/v1.4.1/imgs/tap-favicon.ico"
    />
    <link
      href="https://goSellJSLib.b-cdn.net/v1.4.1/css/gosell.css"
      rel="stylesheet"
    />
  </head>
  <body>

    <script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.4.1/js/gosell.js"></script>

    <div id="root"></div>
    <script>
       goSell.showResult({
           callback: response => {
           console.log("callback", response);
           if(response.callback.response.code === "000"){
              const putMethod = {
                method: 'PUT', // Method itself
                headers: {
                'Content-type': 'application/json; charset=UTF-8' // Indicates the content 
                },
                body: JSON.stringify({
                    paymentReference:response.callback.reference.payment,
                    paymentMethod:"credit_card",
                    paid:true,
                    status:"CONFIRMED"
                }) 
              }
              fetch('/api/requests/update/reference/'+response.callback.metadata.id , putMethod)
                .then(response => response.json())  // convert to json
                .then(json => console.log(json))    //print data to console
                .catch(err => console.log('Request Failed', err)); // Catch errors
            }
         }
      });
    </script>
  </body>
</html>